.selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
}

.login-card {
    width: 22rem;
}

.field {
    display: flex;
    flex-direction: column;

    & label {
        display: flex;
        justify-content: flex-start;
    }

    & input {
        display: flex;
        width: 150%
    }
}

.row {
    justify-content: center;
}

#host-button {
    min-width: 50%;
}

.container {
    min-width: 50vw;
}