:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    overflow-y: auto;
    padding: 2rem;
    max-width: 100vw;
    overflow-x: auto;
}