<ng-container *ngIf="(gift$ | async) as gift; else noGift">
    <ng-container *ngIf="!(invalid$ | async); else invalidGift">
        <h2>Mensen zijn aan het stemmen voor: <span class="accent">{{gift}}</span></h2>
        <ng-container *ngIf="ratio$ | async as ratio">
            <h3 id="ratio">{{ratio}}</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" id="bar"
                    role="progressbar" aria-valuemin="0" aria-valuemax="0" [style]="'width:'+(ratio)">{{ratio}}</div>
            </div>
        </ng-container>
    </ng-container>

    <ng-template #invalidGift>
        <h2>Ongeldige ronde voor: <span class="accent">{{gift}}</span></h2>
        <h4>Het pakje werd niet toegekend of meerdere mensen kenden het pakje aan zichzelf toe.</h4>
    </ng-template>
    <button class="btn game-button start-button" style="float: right; margin-top: 1rem;" type="submit"
        (click)="onResetRound()">Reset</button>
</ng-container>

<ng-template #noGift>
    <p>Het pakje is nog niet geopend.</p>
</ng-template>