<div class="container">
    <h2>Breng je stem uit voor het huidige cadeau</h2>
    <div class="player-container" *ngIf="players$ | async as players">
        <ng-container *ngFor="let player of players">
            <div class="card card-shadow card-marg game-card">
                <div class="card-body text-center">
                    <mat-icon aria-hidden="false" aria-label="player" fontIcon="person"></mat-icon>
                    <h5 class="card-title">{{player.name}}</h5>
                    <button class="btn game-button vote" name="person" (click)="onVote(player.id)">{{userId ===
                        player.id ? 'Mijn Cadeau' : 'Stem'}}</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>