.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
        min-width: 40vw;
    }
}

.player-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vh;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mat-icon {
        margin: auto;
    }
}

.row {
    justify-content: center;
}