.selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
}

#host-button {
    min-width: 50%;
}